.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3
        Websites
        = link_to website_wizard_path(:create), class: 'btn btn-primary pull-right' do
          = icon('plus')
          Add new website
    .clearfix
    %br/
    .panel.panel-default#websites-container
      %table.table
        %thead
          %tr
            %th Title
            %th Domain
            %th App Key
            %th App Secret
            %th.text-right Actions
        %tbody.websites
          - @websites.each do |website|
            %tr
              %td= website.try(:title)
              %td= website.try(:domain)
              %td= website.try(:app_key)
              %td= website.try(:app_secret)
              %td.text-right
                = link_to ' Delete', "/websites/#{website.id}", :method => :delete, :remote => "true", data: {confirm: "Are you sure?"}, :class => "delete_website btn btn-danger pull-right fa fa-close"


