#page-background
  .col-lg-8.align-wizard
    = simple_form_for @website do |f|
      #steps-uid-0.steps.wizard.clearfix{:role => "application"}
        .steps.clearfix
          %ul{:role => "tablist"}
            %li.first{:class => (@step == 0) ? 'current' : 'disabled', "aria-selected" => "true", :role => "tab"}
              %a#steps-uid-0-t-0{"aria-controls" => "steps-uid-0-p-0"}
                %span.current-info.audible current step:
                %span.number 1.
                Add Website
            %li{:class => (@step == 1) ? 'current' : 'disabled', :role => "tab"}
              %a#steps-uid-0-t-1{"aria-controls" => "steps-uid-0-p-1"}
                %span.number 2.
                Chose Platform
            %li.last{:class => (@step == 2) ? 'current' : 'disabled', :role => "tab"}
              %a#steps-uid-0-t-2{"aria-controls" => "steps-uid-0-p-2"}
                %span.number 3.
                Configuration
        .content.clearfix
          = render partial: 'websites/'+@current_step
        - if @step == 0 || @step == 2
          .actions.clearfix
            %ul{"aria-label" => "Pagination", :role => "menu"}
              - if @step == 0
                %li
                  - if current_user.websites.count > 0
                    = link_to "Back", errors_path, :class => 'step-button btn'
                  - else
                    = link_to 'Logout', logout_url, :class => 'step-button btn', method: :delete
                %li.next
                  %button.btn.step-button{:name => "next", :type => "submit", :value => "Next"} Next
              - if @step == 2
                %li.pull-right
                  = link_to "Finish", errors_path, :class => 'step-button btn'
                %li
                  %a.btn.step-button{:href => "/websites/#{@website.id}/wizard_install?back=true"} Back
