#installation.row
  #custom-bootstrap-menu.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left#top-tabs
      %li{class: @main_tab == 'details' ? 'active' : ''}
        = link_to "Details" ,installations_path('main_tab' => 'details')
      %li{class: @main_tab == 'configuration' ? 'active' : ''}
        = link_to "Configuration" ,installations_path('main_tab' => 'configuration')
      %li{class: @main_tab == 'integrations' ? 'active' : ''}
        = link_to "Integrations" ,installations_path('main_tab' => 'integrations')

  = render partial: "installations/#{@main_tab}"