.panel-body{:style => "display:#{(@website.platform == 'Rails 4' || @platform_tab == 'rails_4') ? 'block' : 'none'};"}
  %h5 Raven Ruby comes as a gem and is straightforward to install. If you are using Bundler just add this to your Gemfile:
  %pre
    %code.language-html
      %p gem install sentry-raven
  %h5 Create an instance of the client:
  %pre
    %code.language-html
      =preserve do
        :escaped

          Raven.configure do |config|
            config.dsn = 'https://#{@website.app_key}:#{@website.app_secret}@#{app_domain}/#{@website.id}'
          end
  %h5 Now wrap your application to capture events:
  %pre
    %code.language-html
      =preserve do
        :escaped
          Raven.capture do
            MyApp.run
          end

  %h5 Raven supports two methods of capturing exceptions:
  %pre
    %code.language-html
      =preserve do
        :escaped
          Raven.capture do
            # capture any exceptions which happen during execution of this block
            1 / 0
          end

          begin
            1 / 0
          rescue ZeroDivisionError => exception
            Raven.capture_exception(exception)
          end