.col-md-12.pagecontainer
  .pagetitle.text-center
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      - if params[:controller] == "settings"
        %li{class: @platform_tab == 'ruby' ? 'active' : ''}
          = link_to "Ruby", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'ruby', 'platform_tab' => 'ruby')
        %li{class: @platform_tab == 'rails_3' ? 'active' : ''}
          = link_to "Rails 3", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'ruby', 'platform_tab' => 'rails_3')
        %li{class: @platform_tab == 'rails_4' ? 'active' : ''}
          = link_to "Rails 4", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'ruby', 'platform_tab' => 'rails_4')
      - else
        %li{class: @website.platform == 'Ruby' ? 'active' : ''}
          = link_to "Ruby", website_wizard_path(:choose_platform, 'tab' => 'ruby'), method: :put
        %li{class: ( @website.platform == 'Rails 3' ? 'active' : '')}
          = link_to "Rails 3", website_wizard_path(:choose_platform, 'tab' => 'rails_3'), method: :put
        %li{class: ( @website.platform == 'Rails 4' ? 'active' : '')}
          = link_to "Rails 4", website_wizard_path(:choose_platform, 'tab' => 'rails_4'), method: :put
  .panel.panel-default.codeview
    .panel-heading.text-center Configure #{@platform_tab.try(:humanize) || @website.platform}
    - if params[:controller] == "settings"
      = render partial: "settings/platforms/ruby/#{@platform_tab}"
    - else
      = render partial: 'settings/platforms/ruby/ruby'
      = render partial: 'settings/platforms/ruby/rails_3'
      = render partial: 'settings/platforms/ruby/rails_4'