= simple_form_for @website, url: "websites/#{@website.id}", method: :put, wrapper: :vertical_form do |f|
  .col-lg-6
    .panel.panel-default
      .panel-heading Project Settings
      .panel-body
        = render 'shared/flash_messages'
        .form-group
          = f.input :title, placeholder: 'Website name'
          = f.input :domain, placeholder: 'http://www.domain.com'
          .dropdown
            = f.select :platform, @options, {}, prompt: '#{@website.platform}', :class => "btn btn-default cust-dropdown dropdown-toggle"
        .form-group
          %br
          %small This will restrict reuirements based on the Origin and Referrer headers.
          = f.input :origins, as: :text, label: 'Allowed Domains', hint: "e.g. https://example.com", input_html: {:rows => "7"}, class: 'form-control'
        %small Separate multiple entries with a newline.
    .form-group
      = f.submit 'Save Changes', class: 'btn btn-success'
      = link_to ' Remove Project', "/websites/#{@website.id}", :method => :delete, :class => "btn btn-danger"
  .col-lg-6
    .panel.panel-info.codeview
      .panel-heading Details
      .panel-body
        %p Configure origin URLs which Epiclogger should accept events from. This is used for communication with clients like raven-js.
        %p This will restrict requirements based on the Origin and Referrer headers.