#notifications.tab
  = simple_form_for @website, url: "websites/#{@website.id}", method: :put, wrapper: :vertical_form do |f|
    .col-lg-12
      .panel.panel-default
        .panel-heading Notifications
        .panel-body
          .col-lg-9
            %label Events
            .alert.alert-info
              Epiclogger will automatically notify you whenever an event is first seen, or its state changes from resolved to unresolved.
            %p
              = f.check_box :daily
              = f.label "Recieve daily reports"
            %p
              = f.check_box :realtime
              = f.label "Receive realtime error emails"
            %p
              = f.check_box :new_event
              = f.label "Receive emails when a new event happens"
            %p
              = f.check_box :frequent_event
              = f.label "Recieve another email if an event/error happens more than 10 times in a certain time interval."
          .col-lg-3
            = f.submit 'Save Settings', class: 'btn btn-primary pull-right'