.panel-body.tabs#java_util_logging{:style => "display:#{(@website.platform == 'Java util logging' || @platform_tab == 'java_util_logging') ? 'block' : 'none'};"}
  %div
    %h5{:style => 'display:inline'} Start by installing
    %a{:href => 'https://github.com/EpicCoders/epiclogger-java'}epiclogger-java.
  %h5 The easiest way to add the Raven dependency is with Maven:
  %pre
    %code.language-html
      =preserve do
        :escaped
          <dependency>
            <groupId>net.kencochrane.raven</groupId>
            <artifactId>raven</artifactId>
            <version>4.0</version>
          </dependency>
  %h5 You'll need to configure the SentryHandler in your logging.properties:
  %pre
    %code.language-html
      =preserve do
        :escaped
          level=ERROR
          handlers=net.kencochrane.raven.jul.SentryHandler
          net.kencochrane.raven.jul.SentryHandler.dsn=https://#{@website.app_key}:#{@website.app_secret}@#{app_domain}/#{@website.id}
  %hr
  %div
    %h5{:style => 'display:inline'}For more information on other uses of Epiclogger with Java, please see the
    %a{:href => 'https://github.com/EpicCoders/epiclogger-php'}official documentation for epiclogger-java.