.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3
        Website Members
        = link_to new_invite_path(), class: 'btn btn-primary pull-right' do
          = icon('plus')
          Add member
    .clearfix
    %br/
    .panel.panel-default
      = render 'shared/flash_messages'
      %table.table#members-container
        %thead
          %tr
            %th Name
            %th Email
            %th Role
            %th.text-right Actions
        %tbody.websites
          - @website_members.each do |website_member|
            %tr
              %td= website_member.user.name
              %td= website_member.user.email
              %td
                = select_tag 'website_member_role[role]', options_for_select([['Owner', 1], ['User', 2]], selected: website_member.role.value), id: nil, style: 'max-width: 90px;', data: { remote: true, url: change_role_website_member_path(website_member), method: 'put', params: '_method=put', type: 'json' }
              %td.text-right
                = link_to ' Delete', website_member_url(website_member), :method => :delete, data: {confirm: "Are you sure?"}, :class => "delete_website btn btn-danger pull-right fa fa-close"