.row
  .col-md-12.pagecontainer
    .pagetitle
      %h3
        Website Members
        = link_to new_invite_path(), class: 'btn btn-primary pull-right' do
          = icon('plus')
          Add member
    .clearfix
    %br/
    .panel.panel-default
      %table.table#members-container
        %thead
          %tr
            %th Name
            %th Email
            %th Role
            %th.text-right Actions
        %tbody.websites
          - @website_members.each do |website_member|
            %tr
              %td= website_member.user.name
              %td= website_member.user.email
              %td= website_member.role
              %td.text-right
                = link_to ' Delete', "/website_members/#{website_member.id}", :method => :delete, :remote => "true", data: {confirm: "Are you sure?"}, :class => "delete_website btn btn-danger pull-right fa fa-close"