#header
  .container
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h1
          %a{:href => root_url()} Epic Logger
        .panel.panel-default
          %h3 Sign up for Epic Logger
          .social
            %a.btn.btn-default.btn-block.signup-github{:href => "/auth/github"}
              %span
              Sign up with Github
          %span.or or
          = form_for @user, url: signup_path do |f|
            .input-group.username
              .input-group-addon
                %span.glyphicon.glyphicon-user
              = f.text_field :name, :placeholder => 'Name', class: 'form-control input-lg', required: true
            .input-group.username
              .input-group-addon @
              = f.email_field :email, :placeholder => 'Email address', value: params[:email], class: 'form-control input-lg', required: true
            .input-group.username
              .input-group-addon
                %span.glyphicon.glyphicon-lock
              = f.password_field :password, :placeholder => 'Password', class: 'form-control input-lg', required: true
            .input-group.password
              .input-group-addon
                %span.glyphicon.glyphicon-lock
              = f.password_field :password_confirmation, :placeholder => 'Confirm password', class: 'form-control input-lg', required: true
              = hidden_field_tag(:invitation_token, params[:id])
            .row.signup_footer
              .col-md-12
                %button.btn.btn-default.btn-block{:type => "submit"} Sign Up
          %p.bottom
            Already have an account?
            %a{:href => login_url()} Sign in
    %p.footer Copyright &copy; Epic Logger #{Time.now.strftime("%Y")}. All rights reserved.
