#header
  .container
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h1
          %a{:href => root_url()} Epic Logger
        .panel.panel-default
          %h3 Sign up for Epic Logger
          .social
            %a.btn.btn-default.btn-block.signup-github{:href => "/auth/github"}
              %span
              Sign up with Github
          %span.or or
          = simple_form_for @user, url: signup_path do |f|
            = render 'shared/flash_messages'
            = hidden_field_tag(:token, params[:token])
            = f.text_field :provider, :type => "hidden",  :value => "email"
            = f.input :name, label: false, wrapper: :vertical_input_group, required: true do
              %span.input-group-addon
                .glyphicon.glyphicon-user
              = f.input_field :name, class: "form-control input-lg", placeholder: 'Name'
            = f.input :email, label: false, wrapper: :vertical_input_group, required: true do
              %span.input-group-addon @
              = f.email_field :email, class: "form-control input-lg", placeholder: 'Email address'
            = f.input :password, label: false, wrapper: :vertical_input_group, required: true do
              %span.input-group-addon
                .glyphicon.glyphicon-lock
              = f.password_field :password, class: "form-control input-lg", placeholder: 'Password'
            = f.input :password_confirmation, label: false, wrapper: :vertical_input_group, required: true do
              %span.input-group-addon
                .glyphicon.glyphicon-lock
              = f.password_field :password_confirmation, class: "form-control input-lg", placeholder: 'Confirm password'
            .row.signup_footer
              .col-md-12
                %button.btn.btn-default.btn-block{:type => "submit"} Sign Up
          %p.bottom
            Already have an account?
            %a{:href => login_url()} Sign in
    %p.footer Copyright &copy; Epic Logger #{Time.now.strftime("%Y")}. All rights reserved.
