.panel-body.tabs#java{:style => "display:#{(@website.platform == 'Java' || @platform_tab == 'java') ? 'block' : 'none'};"}
  %div
    %h5{:style => 'display:inline'} Start by installing
    %a{:href => 'https://github.com/EpicCoders/epiclogger-java'}epiclogger-java.
  %h5 The easiest way to add the Raven dependency is with Maven:
  %pre
    %code.language-html
      =preserve do
        :escaped
          <dependency>
            <groupId>net.kencochrane.raven</groupId>
            <artifactId>raven</artifactId>
            <version>4.0</version>
          </dependency>
  %h5 You can manually send events using the EventBuilder:
  %pre
    %code.language-html
      =preserve do
        :escaped
          import net.kencochrane.raven.Raven;
          import net.kencochrane.raven.Raven;
          import net.kencochrane.raven.event.EventBuilder;
          import net.kencochrane.raven.event.interfaces.ExceptionInterface;

          public class Example {
              public static void main(String[] args) {
                  String rawDsn = "https://#{@website.app_key}:#{@website.app_secret}@#{app_domain}/#{@website.id}";
                  Raven raven = RavenFactory.ravenInstance(new Dsn(rawDsn));

                  // record a simple message
                  EventBuilder eventBuilder = new EventBuilder()
                                  .setMessage("Hello from Raven!")
                                  .setLevel(Event.Level.ERROR)
                                  .setLogger(MyClass.class.getName())
                                  .addSentryInterface(new ExceptionInterface(e));

                  raven.runBuilderHelpers(eventBuilder); // Optional
                  raven.sendEvent(eventBuilder.build());
              }
          }
  %hr
  %div
    %h5{:style => 'display:inline'}For more information on other uses of Epiclogger with Java, please see the
    %a{:href => 'https://github.com/EpicCoders/epiclogger-php'}official documentation for epiclogger-java.