.panel-body{:style => "display:#{(@website.platform == 'Javascript' || @platform_tab == 'javascript') ? 'block' : 'none'};"}
  %div
    %h4{:style => 'display:inline'} Note:
    %a If you’re using Node on the server, you’ll need
    %a{:href => "https://github.com/getsentry/raven-node"} raven-node.
  %hr
  %h5 Raven.js is distributed in a few different methods, and should get included after any other libraries are included, but before your own scripts.
  %pre
    %code.language-html
      =preserve do
        :escaped
          <script src="https://cdn.ravenjs.com/2.0.5/raven.min.js"></script>
  %br
  %h5 Configure the client:
  %pre
    %code.language-html
      =preserve do
        :escaped
          <script>
            Raven.config('http://#{@website.app_key}@#{app_domain}/#{@website.id}', {
                # we highly recommend restricting exceptions to a domain in order to filter out clutter
                whitelistUrls: [/example\.com/]
            }).install();
            </script>
  = render partial: 'settings/platforms/javascript/additional'