.errors-sidebar-list.no-margin
  = form_for :@error, url: {action: "resolve", params: {resolved: params[:resolved]}}, method: :put, html: { :update_target => 'error-container' }, remote: true do |f|
    .header
      .row
        .col-sm-8
          .btn.btn-default.btn-sm.pull-left{'data-toggle'=>'button','aria-pressed'=>"false"}
            %input.all{:title => "toggle all", :type => "checkbox"}/
          = f.submit "#{params['resolved'] == 'false' ? 'Resolve' : 'Unresolve'}", class: "btn header-resolve #{params['resolved'] == 'false' ? 'btn-primary' : 'btn-danger'}", id: "multiple-resolve", remote:true, method: :put
        .col-sm-4.error_pagination.text-right
          %span.sidebar_pagination_text= page_entries_info @selected_errors, entry_name: 'error'
          .btn-group
            = paginate @selected_errors, theme: 'next_prev_theme'
    #custom-bootstrap.navbar.navbar-default.sidebar-tabs{:role => "navigation"}
      %ul.nav.navbar-nav.navbar-left.main-tabs.col-sm-12
        %li.col-sm-6{:class => "#{params[:resolved] == 'true' || params[:resolved].nil? ? 'active' : ''}"}
          %a{:href => "#{request.path}?resolved=true"}
            Resolved
        %li.col-sm-6{:class => "#{params[:resolved] == 'false' ? 'active' : ''}"}
          %a{:href => "#{request.path}?resolved=false"}
            Unresolved
    .tab-content
      #resolved.tab-pane{:class => "#{params[:resolved] == 'true' || params[:resolved].nil? ? 'active error-container' : ''}"}
        -if params[:resolved] == 'true' || params[:resolved] == nil
          = render partial: 'sidebar_elements', collection: @selected_errors, as: :error
      #unresolved.tab-pane{:class => "#{params[:resolved] == 'false' ? 'active error-container' : ''}"}
        -if params[:resolved] == 'false'
          = render partial: 'sidebar_elements', collection: @selected_errors, as: :error



