.errors-sidebar-list.no-margin
  = simple_form_for @error, url: error_url(@error), method: :get, html: { :update_target => 'error-container', id: "resolve-form" } do |f|
    .header
      .row
        .pull-left.error_select
          .btn.btn-default.btn-sm{'data-toggle'=>'button','aria-pressed'=>"false"}
            %input.all{:title => "toggle all", :type => "checkbox"}/
        = f.submit "#{params['tab'] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present? ? 'Unresolve' : 'Resolve'}", class: "btn header-resolve #{params['tab'] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present? ? 'btn-danger' : 'btn-primary'}", id: "multiple-resolve", remote:true, method: :put
        .error_pagination.text-right
          .btn-group.sidebar_pagination_buttons
            = paginate @selected_errors, theme: 'next_prev_theme'
        %button.btn.btn-default{"data-target" => "#filters", "data-toggle" => "collapse", :type => "button", :title => 'Filters'}
          %span.glyphicon.glyphicon-filter
      .row
        .col-sm-12
          %span.sidebar_pagination_text= page_entries_info @selected_errors, entry_name: 'error'
    #custom-bootstrap.navbar.navbar-default.sidebar-tabs{:role => "navigation"}
      %ul.nav.navbar-nav.navbar-left
        - filtered = params[:commit] == 'search-button' || params[:commit] == 'find-matchings'
        %li{:class => "#{(params[:tab] == 'unresolved' || @selected_errors.try(:first).try(:unresolved?).present?) && !filtered ? 'active' : ''}"}
          %a{:href => "#{request.path}?tab=unresolved"}
            Unresolved
        %li{:class => "#{(params[:tab] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present?) && !filtered ? 'active' : ''}"}
          %a{:href => "#{request.path}?tab=resolved"}
            Resolved

    .tab-content.scrollable
      #filters.collapse
        = render partial: 'sidebar_filters'
      = render 'shared/flash_messages'
      = render partial: 'sidebar_elements', collection: @selected_errors, as: :error





