#grouped-issues.groups
  = link_to error_url(error) do
    .left-id
      %span= error.id
    - case error.level
    - when "debug"
      %button.btn.btn-xs.btn-default.fa.fa-bug{title: "Level: debug"}
    - when "error"
      %button.btn.btn-xs.btn-danger.glyphicon.glyphicon-exclamation-sign{title: "Level: error"}
    - when "warning"
      %button.btn.btn-xs.btn-warning.glyphicon.glyphicon-star{title: "Level: warning"}
    - when "fatal"
      %button.btn.btn-xs.btn-danger.glyphicon.glyphicon-remove{title: "Level: fatal"}
    - when "info"
      %button.btn.btn-xs.btn-info.glyphicon.glyphicon-info-sign{title: "Level: info"}
    .left
      %span.message= error.message
    .right
      %span.last Last occurrence
      %span.last_occurrence= distance_of_time_in_words_to_now error.last_seen
    %span.language= "#{error.subscribers.count} users"
    %span.language= "Language - #{error.platform}"
    .main-middle
      %span.language= "Level - #{error.level}"
      %span.language= "Times seen - #{error.times_seen}"
    .main-right
      %span.language Culprit
      %span= error.culprit
    .group-right
      .issues
        %span.page_title
        %span.description
        %span.users_count= error.times_seen