.errors-sidebar-list.no-margin
  = form_for @error, url: { action: "#{params[:tab] == 'unresolved' || @selected_errors.try(:first).try(:unresolved?).present? ? 'resolve' : 'unresolve'}",  params: { page: params[:page], tab: "#{params[:tab] == 'unresolved' || @selected_errors.try(:first).try(:unresolved?).present? ? 'resolved' : 'unresolved'}" } }, method: :put, html: { :update_target => 'error-container', id: "resolve-form" } do |f|
    .header
      .row
        .pull-left.error_select
          .btn.btn-default.btn-sm{'data-toggle'=>'button','aria-pressed'=>"false"}
            %input.all{:title => "toggle all", :type => "checkbox"}/
        = f.submit "#{params['tab'] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present? ? 'Unresolve' : 'Resolve'}", class: "btn header-resolve #{params['tab'] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present? ? 'btn-danger' : 'btn-primary'}", id: "multiple-resolve", remote:true, method: :put
        - if params[:search].blank?
          .error_pagination.text-right
            .btn-group.sidebar_pagination_buttons
              = paginate @selected_errors, theme: 'next_prev_theme'
      .row
        .col-sm-12
          %span.sidebar_pagination_text= page_entries_info @selected_errors, entry_name: 'error'
    #custom-bootstrap.navbar.navbar-default.sidebar-tabs{:role => "navigation"}
      %ul.nav.navbar-nav.navbar-left
        %li{:class => "#{(params[:tab] == 'unresolved' || @selected_errors.try(:first).try(:unresolved?).present?) && params[:tab] != 'filters'  ? 'active' : ''}"}
          %a{:href => "#{request.path}?tab=unresolved"}
            Unresolved
        %li{:class => "#{params[:tab] == 'resolved' || @selected_errors.try(:first).try(:resolved?).present? ? 'active' : ''}"}
          %a{:href => "#{request.path}?tab=resolved"}
            Resolved
        %li{:class => "#{params[:tab] == 'filters' ? 'active' : ''}"}
          %a{:href => "#{request.path}?tab=filters"}
            Filters
    .tab-content
      - if params[:tab] == 'filters'
        = render partial: 'sidebar_filters'
      - else
        = render partial: 'sidebar_elements', collection: @selected_errors, as: :error




