#grouped-issues.groups
  = link_to error_url(id: error, tab: 'default') do
    .error-count
      %span= error.times_seen
      - case error.level
      - when "debug"
        %button.btn.btn-default.fa.fa-bug{title: "Level: debug"}
      - when "error"
        %button.btn.btn-danger.glyphicon.glyphicon-exclamation-sign{title: "Level: error"}
      - when "warning"
        %button.btn.btn-warning.glyphicon.glyphicon-star{title: "Level: warning"}
      - when "fatal"
        %button.btn.btn-danger.glyphicon.glyphicon-remove{title: "Level: fatal"}
      - when "info"
        %button.btn.btn-info.glyphicon.glyphicon-info-sign{title: "Level: info"}
    .error-content.col-sm-offset-1
      .error-message.col-sm-2
        %span.message= error.message
      .small-details.col-sm-7
        .col-sm-2.info
          %span= "#{subscribers[error.id]} users"
          %span= "Language - #{error.platform}"
        .col-sm-2.info
          %span= "Level - #{error.level}"
          %span= "Times seen - #{error.times_seen}"
        .col-sm-8.culprit
          %span Culprit
          %span.bigger-text= error.culprit
      .error-last-occurence.col-sm-2
        %span.last Last occurrence
        %span.last_occurrence= distance_of_time_in_words_to_now error.last_seen