.subscribers
  - subscribers = @error.subscribers
  - subscribers.each do |subscriber|
    = image_tag subscriber.avatar_url(30)
    - if subscribers.size > 10
      = " and #{subscribers.size - 10} more"
      - break
  - if subscribers.size > 0
    %h5.pull-right
      This message will be sent to
      = subscribers.size.to_s + (subscribers.size > 1 ? ' users' : ' user')
  .notify
    = form_for @error, url: notify_subscribers_error_path(), remote: true, html: { method: :post , class: ' broadcast-textarea'}, :data => {:confirm => 'Are you sure?'} do |f|
      = text_area_tag 'message', '', placeholder: 'Write a message ...'
      %button.btn.btn-primary{:type => 'submit'} Send