.subscribers
  - @error.subscribers.limit(10).each do |subscriber|
    = image_tag subscriber.avatar_url(30)
    - if @error.website.users.size > 10
      = " and #{@error.website.users.size - 10} more"
      - break
  - if @error.website.users.size > 0
    %h5.pull-right
      This message will be sent to
      = @error.website.users.size.to_s + (@error.website.users.size > 1 ? ' users' : ' user')
  .notify
    = form_for @error, url: notify_subscribers_error_path(), remote: true, html: { method: :post , class: ' broadcast-textarea'}, :data => {:confirm => 'Are you sure?'} do |f|
      = text_area_tag 'message', '', placeholder: 'Write a message ...'
      %button.btn.btn-primary{:type => 'submit'} Send