.row
  - max_value = @chart_data.values.max
  = line_chart @chart_data , id: "chart", height: "200px", label: "Occurences", colors: ["black", "#000"], min: 0, max: max_value > 0 ? max_value : 10
.row
  .col-sm-10.col-md-12
    .panel.panel-default
      .panel-heading Details
      .panel-body
        %dl
          %dt Occured at
          %dd= @issue.try(:created_at)
          %dt First seen at
          %dd= @error.first_seen
          %dt Message
          %dd= @issue.try(:message)
          %dt Url
          %dd #{@issue.http_data(:url) || '<no information>'}
          %dt File
          %dd= @error.culprit
          %dt User Agent
          %dd= @issue.get_headers(:user_agent)
          %dt ID
          %dd= @issue.event_id
          %dt Level
          %dd= @error.level
          %dt Logger
          %dd= @error.platform
  - valid_stacktrace = @issue.get_platform_frames && @issue.get_platform_frames.present?
  - if valid_stacktrace
    .col-sm-10.col-md-12
      .panel.panel-default.exception
        .panel-heading Exception
        .panel-body.expand-box
          #frame.accordion
            - @issue.get_platform_frames.each_with_index do |frame, index|
              .accordion-group
                .accordion-heading.heading
                  %a.accordion-toggle.collapsed
                    %i.icon-fixed-width.fa.fa-plus{"data-parent" => "#frame", "data-toggle" => "collapse", :href => "#collapse#{index}"}
                    = frame.get_culprit_string(with_lineno: true)
                .accordion-body.collapse{:style => "height: 0px;", :id => "collapse#{index}"}
                  .accordion-inner.content
                    %pre
                      %code{ class: @error.platform }
                        = frame._data[:pre_context] ? simple_format(frame._data[:pre_context].join('')).html_safe : ''
                        = frame._data[:context_line] ? simple_format(frame._data[:context_line], class: 'error').html_safe : ''
                        = frame._data[:post_context] ? simple_format(frame._data[:post_context].join('')).html_safe : ''

          %p.read-more.text-center{style: "display:block"}
            %a.btn.btn-default{:href => "#"} View full backtrace
  - valid_stacktrace = @issue.breadcrumbs_stacktrace && @issue.breadcrumbs_stacktrace.present?
  - if valid_stacktrace
    .col-sm-10.col-md-12
      .panel.panel-default
        .panel-heading Breadcrumbs
        .panel-body{ class: "#{valid_stacktrace ? 'expand-box' : ''}" }
          #frame.accordion
            %table.table
              - @issue.breadcrumbs_stacktrace.each_with_index do |crumb, index|
                .accordion-group
                  %tr
                    %td.line{ class: crumb[:level].present? ? "#{crumb[:level]}" : "log"}= crumb[:category]
                    - data = crumb[:data]
                    - if data.blank?
                      %td= crumb[:message]
                    - else
                      %td #{data[:method]} #{data[:url]} [#{data[:status_code]}]
                    %td.timestamp= Time.at(crumb[:timestamp]).strftime("%H:%M:%S")
          %p.read-more.text-center{style: "display:#{valid_stacktrace ? 'block' : 'none'}"}
            %a.btn.btn-default{:href => "#"} View full backtrace

  - subscribers = @error.subscribers
  .col-sm-10.col-md-12
    .panel.panel-default.broadcast{ :style => "display:#{ subscribers.empty? ? 'none' : 'block' }" }
      .panel-heading
        Broadcast
      .panel-body
        .subscribers
          = form_for @error, url: notify_subscribers_error_path(), remote: true, html: { method: :post , class: ' broadcast-textarea'}, :data => {:confirm => 'Are you sure?'} do |f|
            = render partial: 'shared/flash_messages'
            - subscribers.each do |subscriber|
              = image_tag subscriber.avatar_url(30)
              - if subscribers.size > 10
                = " and #{subscribers.size - 10} more"
                - break
            - if subscribers.size > 0
              %h5.pull-right
                = t('subscribers.count', count: subscribers.size)
            .notify
              = text_area_tag 'message', '', placeholder: 'Write a message ...'
              - if current_website.intercom_integration?
                .intercom-check.pull-left
                  %label.intercom-message
                    = check_box_tag 'intercom'
                    Send with Intercom
              %button.btn.btn-primary{:type => 'submit'}
                %span.fa.fa-paper-plane
                Send