.errors-sidebar-elements{"data-id" => "#{error.id}"}
  %ul.list-group
    %div{class: "list-group-item #{error.id == @error.id ? 'checked' : ''}"}
      .row
        .col-xs-1.list-check
          = check_box_tag 'error_ids[]', value = "#{error.id}", checked = false
        .col-xs-11.error-details
          = link_to error_url(error, page: params[:page], tab: "#{error.unresolved? ? 'unresolved' : 'resolved'}") do
            .row
              .col-xs-3
                %span.badge
                  = error.times_seen
              .col-xs-9.text-right
                %span.badge.badge-environment= error.environment
                %span.badge.badge-subscribers
                  = icon('users')
                  = error.users_affected
                %small= "#{distance_of_time_in_words_to_now error.last_seen} ago"
            %div.message
              = error.message
              %small.text-muted= error.culprit
