.row.col-lg-12.pull-right
  #custom-bootstrap.navbar.navbar-default.col-lg-12
    .errors_buttons
      %ul
        %li
          %a.btn.btn-default.btn-xs.glyphicon.glyphicon-time{href: "#{errors_path('action_type' => 'task')}", title: "Task"}
        %li
          %a.btn.btn-default.btn-xs.glyphicon.glyphicon-trash{href: "#{errors_path('action_type' => 'remove')}", title: "Remove"}
        %li
          %a.btn.btn-danger.btn-xs.glyphicon.glyphicon-star{href: "#{errors_path('action_type' => 'assign')}", title: "Assign"}
    %ul.nav.navbar-nav.navbar-left.pull-right
      %li{class: @filter == 'recent' ? 'active' : ''}
        = link_to "Recent", errors_path('filter' => 'recent')
      %li{class: @filter == 'most_encountered' ? 'active' : ''}
        = link_to "Most encountered", errors_path('filter' => 'most_encountered')
      %li
        %a.glyphicon.glyphicon-search{href: "#{errors_path('filter' => 'search')}"}

.row
  #grouped-issuescontainer.col-lg-12.col-md-8.pagecontainer
    = render partial: 'error', collection: @errors

    #pagination
      .row
        .col-xs-4.side
        .col-xs-5.buttons
          = paginate @errors, theme: 'next_prev_theme'
          %span.pagination-text= page_entries_info @errors, entry_name: 'error'
      %br/
    - if @errors.blank?
      #missing-errors.bs-example.col-lg-12
        .alert.alert-info{:role => "alert", :align => "center"}
          %strong There are no errors.
          They will appear here as soon as something happens to your website.