.row
  .col-sm-3#error-sidebar
    = render partial: 'errors_sidebar'
  .col-sm-9#error-details
    .header.no-margin
      .row
        .col-xs-1.times_seen
          = @error.times_seen
        .col-xs-6
          %div.message= @error.message
          %ul.list-inline
            %li
              %span.badge.badge-subscribers{:title => 'Subscribers'}
                = icon('users')
                = @error.users_affected
            %li
              %span.badge.badge-environment{:title => 'Environment'}= @error.environment
            %li
              %span.label.badge{:title => 'Checksum'}= @error.checksum
        .col-xs-5.text-right
          - if @error.website.github_integration?
            .btn-group
              = button_to 'Create Github Issue', create_task_integration_path(@error.website.github_integration, error_id: @error.id, title: @error.message), class: "btn pull-right btn-primary "
          .btn-group
            = paginate @issues, theme: 'next_prev_theme', param_name: :page_issue
          .btn-group.resolve
            = button_to 'Resolve', resolve_error_path(error_ids: [@error.id]), class: "btn pull-right btn-primary ", style: "display:#{ @error.resolved? ? 'none' : 'block' };", action: "single", method: :put, id: 'resolve-button'
            = button_to 'Unresolve', unresolve_error_path(error_ids: [@error.id]), class: "btn pull-right btn-danger ", style: "display:#{ @error.unresolved? ? 'none' : 'block' };", action: "single", method: :put, id: 'unresolve-button'
    .error-content{"data-id" => "#{@error.id}"}
      .row
        .col-lg-12
          #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
            %ul.nav.navbar-nav.navbar-left
              %li{ class: "#{params[:current_tab] == 'overview' || params[:current_tab].nil? ? 'active' : ''}" }
                = link_to "Overview", request.parameters.merge({current_tab: 'overview'})
              %li{ class: "#{params[:current_tab] == 'aggregations' ? 'active' : ''}" }
                = link_to "Aggregations", request.parameters.merge({current_tab: 'aggregations'})

          .tab-content
            #overview.tab-pane{ class: "#{params[:current_tab] == 'overview' || params[:current_tab].nil? ? 'active' : ''}" }
              = render partial: 'errors/overview'
            #aggregations.tab-pane{ class: "#{params[:current_tab] == 'aggregations' ? 'active' : ''}" }
            - if params[:current_tab] == 'aggregations'
              #accordion.panel-group
                = render partial: 'errors/aggregations', locals: { title: 'Messages', attribute: "message", data: @error.aggregations("message"), panel: "One" }
                // use secondary if the returned item is a hash
                = render partial: 'errors/aggregations', locals: { title: 'Subscribers', attribute: "subscriber", secondary: "name", data: @error.aggregations("subscriber"), panel: "Two" }
                = render partial: 'errors/aggregations', locals: { title: 'Browsers', attribute: "browser", data: @error.aggregations("browser"), panel: "Three" }
