.row
  .col-sm-3#error-sidebar
    = render partial: 'errors_sidebar'
  .col-sm-9#error-details
    .header.no-margin
      .row
        .col-xs-1.times_seen
          = @error.times_seen
        .col-xs-9
          %div.message= @error.message
          %ul.list-inline
            %li
              %span.label.label-primary
                = icon('users')
                = @error.users_affected
            %li
              %span.label.label-primary= @error.environment
        .col-xs-2.text-right
          .btn-group
            = paginate @issues, theme: 'next_prev_theme', param_name: :page_issue
    .error-content
      .row
        .col-sm-9
          -# exception display
          .panel.panel-default.exception
            .panel-heading Exception
            .panel-body.expand-box
              - @issue.stacktrace_frames.each do |frame|
                %div= frame.get_culprit_string(with_lineno: true)
              %p.read-more.text-center
                %a.btn.btn-default{:href => "#"} View full backtrace

        .col-sm-3
          .panel.panel-default
            .panel-heading Details
            .panel-body
              %dl
                %dt Occured at
                %dd= @issue.created_at
                %dt First seen at
                %dd= @error.first_seen
