.row
  .col-sm-3#error-sidebar
    = render partial: 'errors_sidebar'
  .col-sm-9#error-details
    .header.no-margin
      .row
        .col-xs-1.times_seen
          = @error.times_seen
        .col-xs-8
          %div.message= @error.message
          %ul.list-inline
            %li
              %span.label.label-primary
                = icon('users')
                = @error.users_affected
            %li
              %span.label.label-primary= @error.environment
            %li
              %span.label.label-default= @error.checksum
        .col-xs-3.text-right
          .btn-group
            = paginate @issues, theme: 'next_prev_theme', param_name: :page_issue
    .error-content
      .row
        .col-sm-12
          %h4 Error Message
          %p.lead= @error.message
      .row
        .col-sm-7.col-md-8
          .panel.panel-default.exception
            .panel-heading Exception
            - valid_stacktrace = @issue.stacktrace_frames != 'Missing stacktrace' && @issue.stacktrace_frames.present?
            .panel-body{ class: "#{valid_stacktrace ? 'expand-box' : ''}" }
              - if valid_stacktrace
                #frame.accordion
                  - @issue.stacktrace_frames.each_with_index do |frame, index|
                    .accordion-group
                      .accordion-heading.heading
                        %a.accordion-toggle.collapsed{ href: '#' }
                          %i.icon-fixed-width.fa.fa-plus{"data-parent" => "#frame", "data-toggle" => "collapse", :href => "#collapse#{index}"}
                          = frame.get_culprit_string(with_lineno: true)
                      .accordion-body.collapse{:style => "height: 0px;", :id => "collapse#{index}"}
                        .accordion-inner.content
                          %pre
                            %code{ class: @error.platform }
                              = frame._data[:pre_context] ? simple_format(frame._data[:pre_context].join('')).html_safe : ''
                              = frame._data[:context_line] ? simple_format(frame._data[:context_line], class: 'error-line').html_safe : ''
                              = frame._data[:post_context] ? simple_format(frame._data[:post_context].join('')).html_safe : ''



              %h5.text-center{style: "display:#{valid_stacktrace ? 'none' : 'block'}"} Missing stacktrace
              %p.read-more.text-center{style: "display:#{valid_stacktrace ? 'block' : 'none'}"}
                %a.btn.btn-default{:href => "#"} View full backtrace
          .panel.panel-default.broadcast
            .panel-heading Broadcast
            .panel-body
              .subscribers
                .row
                  .col-sm-offset-1.col-sm-11
                    - @error.subscribers.limit(10).each do |subscriber|
                      = image_tag subscriber.avatar_url(30)
                    - if @error.subscribers.size > 10
                      = " and #{@error.subscribers.size - 10} more"
                .row.notify
                  .col-sm-1
                    = image_tag current_user.avatar_url
                  = form_for @error, url: notify_subscribers_error_path(), remote: true, html: { method: :post , class: 'col-sm-11'} do |f|
                    = text_area_tag 'message', '', placeholder: 'Write a message ...'
                    %button.btn.btn-primary{:type => 'submit'} Send

        .col-sm-5.col-md-4
          .panel.panel-default
            .panel-heading Actions
            .panel-body
              %ul.actions
                %li
                  - resolve_text = ('<i class="fa fa-times"></i><span>Unresolve</span>' if !@error.resolved_at.nil?) || '<i class="fa fa-check"></i><span>Resolve</span>' 
                  = link_to raw(resolve_text), resolve_error_path(@error), remote:true, method: :put, id: 'resolve-button'

          .panel.panel-default
            .panel-heading Details
            .panel-body
              %dl
                %dt Occured at
                %dd= @issue.created_at
                %dt First seen at
                %dd= @error.first_seen
                %dt File
                %dd= @error.culprit
                %dt ID
                %dd= @issue.event_id
                %dt Level
                %dd= @error.level
                %dt Logger
                %dd= @error.platform        
    .broadcast
      .row
        .col-sm-12
          - @error.subscribers.each do |subscriber|
            = image_tag subscriber.avatar_url
