.row
  .col-sm-3#error-sidebar
    = render partial: 'errors_sidebar'
  .col-sm-9#error-details
    .header.no-margin
      .row
        .col-xs-1.times_seen
          = @error.times_seen
        .col-xs-7
          %div.message= @error.message
          %ul.list-inline
            %li
              %span.badge.badge-subscribers
                = icon('users')
                = @error.users_affected
            %li
              %span.badge.badge-environment= @error.environment
            %li
              %span.label.badge= @error.checksum
        .col-xs-4.text-right
          .btn-group
            = paginate @issues, theme: 'next_prev_theme', param_name: :page_issue
          .btn-group.resolve
            = button_to 'Resolve', resolve_error_path(error_ids: [@error.id]), class: "btn pull-right btn-primary ", style: "display:#{ !@error.resolved_at.nil? ? 'none' : 'block' };", action: "single", remote:true, method: :put, id: 'resolve-button'
            = button_to 'Unresolve', unresolve_error_path(error_ids: [@error.id]), class: "btn pull-right btn-danger ", style: "display:#{ @error.resolved_at.nil? ? 'none' : 'block' };", action: "single", remote:true, method: :put, id: 'unresolve-button'
    .error-content{"data-id" => "#{@error.id}"}
      .row
        .col-lg-12
          #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
            %ul.nav.navbar-nav.navbar-left.main-tabs
              %li{ class: "#{params[:current_tab] == 'overview' || params[:current_tab].nil? ? 'active' : ''}" }
                = link_to "Overview", error_path(id: @error.id, current_tab: 'overview')
              %li{ class: "#{params[:current_tab] == 'aggregations' ? 'active' : ''}" }
                = link_to "Aggregations", error_path(id: @error.id, current_tab: 'aggregations')

          .tab-content
            #overview.tab-pane{ class: "#{params[:current_tab] == 'overview' || params[:current_tab].nil? ? 'active' : ''}" }
              = render partial: 'errors/error-partials/overview'
            #aggregations.tab-pane{ class: "#{params[:current_tab] == 'aggregations' ? 'active' : ''}" }
              = render partial: 'errors/error-partials/aggregations'
