.col-md-12.pagecontainer.tab#java_tab
  .pagetitle.text-center
    %h3 Configuring Java
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li{class: @tab == 'java' ? 'active' : ''}
        %a{name: "java", href: "#java"} Java
      %li{class: @tab == 'java_util_logging' ? 'active' : ''}
        %a{:name =>"java_util_logging", :href => "#java_util_logging"} java.util.logging
      %li{ class: ( @tab == 'log4j' ? 'active' : '')}
        %a{:name =>"log4j", :href => "#log4j"} log4j
      %li{class: @tab == 'log4j2' ? 'active' : ''}
        %a{:name =>"log4j2", :href => "#log4j2"} log4j2
      %li{class: @tab == 'logback' ? 'active' : ''}
        %a{:name =>"logback", :href => "#logback"} logback
  .panel.panel-default.codeview
    .panel-heading
    = render partial: 'installations/platforms/java/java'
    = render partial: 'installations/platforms/java/java_util_logging'
    = render partial: 'installations/platforms/java/log4j'
    = render partial: 'installations/platforms/java/log4j2'
    = render partial: 'installations/platforms/java/logback'