.col-md-12.pagecontainer.tab#java_tab
  .pagetitle.text-center
    %h3 Configuring Java
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li{class: @website.platform == 'Java' ? 'active' : ''}
        = link_to "Java", wizard_path(:choose_platform, 'tab' => 'java'), method: :put
      %li{class: @website.platform == 'Java util logging' ? 'active' : ''}
        = link_to "Java util logging", wizard_path(:choose_platform, 'tab' => 'java_util_logging'), method: :put
      %li{ class: ( @website.platform == 'Log4j' ? 'active' : '')}
        = link_to "Log4j", wizard_path(:choose_platform, 'tab' => 'log4j'), method: :put
      %li{class: @website.platform == 'Log4j2' ? 'active' : ''}
        = link_to "Log4j2", wizard_path(:choose_platform, 'tab' => 'log4j2'), method: :put
      %li{class: @website.platform == 'Logback' ? 'active' : ''}
        = link_to "Logback", wizard_path(:choose_platform, 'tab' => 'logback'), method: :put
  .panel.panel-default.codeview
    .panel-heading
    = render partial: 'installations/platforms/java/java'
    = render partial: 'installations/platforms/java/java_util_logging'
    = render partial: 'installations/platforms/java/log4j'
    = render partial: 'installations/platforms/java/log4j2'
    = render partial: 'installations/platforms/java/logback'