.col-md-12.pagecontainer.tab#python_tab
  .pagetitle.text-center
    %h3 Configuring Python
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li{class: @tab == 'python' ? 'active' : ''}
        %a{name: "python", href: "#python"} Python
      %li{class: @tab == 'django' ? 'active' : ''}
        %a{:name =>"django", :href => "#django"} Django
      %li{class: ( @tab == 'flask' ? 'active' : '')}
        %a{:name =>"flask", :href => "#flask"} Flask
      %li{class: @tab == 'tornado' ? 'active' : ''}
        %a{:name =>"tornado", :href => "#tornado"} Tornado
  .panel.panel-default.codeview
    .panel-heading
    = render partial: 'installations/platforms/python/python'
    = render partial: 'installations/platforms/python/django'
    = render partial: 'installations/platforms/python/flask'
    = render partial: 'installations/platforms/python/tornado'