.col-md-12.pagecontainer
  .pagetitle.text-center
    %h3 Configuring Python
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      - if params[:controller] == "installations"
        %li{class: @platform_tab == 'python' ? 'active' : ''}
          = link_to "Python", installations_path('main_tab' => 'configuration', 'configuration_tab' => 'python', 'platform_tab' => 'python')
        %li{class: @platform_tab == 'django' ? 'active' : ''}
          = link_to "Django", installations_path('main_tab' => 'configuration', 'configuration_tab' => 'python', 'platform_tab' => 'django')
        %li{class: @platform_tab == 'flask' ? 'active' : ''}
          = link_to "Flask", installations_path('main_tab' => 'configuration', 'configuration_tab' => 'python', 'platform_tab' => 'flask')
        %li{class: @platform_tab == 'tornado' ? 'active' : ''}
          = link_to "Tornado", installations_path('main_tab' => 'configuration', 'configuration_tab' => 'python', 'platform_tab' => 'tornado')
      - else
        %li{class: @website.platform == 'Python' ? 'active' : ''}
          = link_to "Python", wizard_path(:choose_platform, 'tab' => 'python'), method: :put
        %li{class: @website.platform == 'Django' ? 'active' : ''}
          = link_to "Django", wizard_path(:choose_platform, 'tab' => 'django'), method: :put
        %li{class: ( @website.platform == 'Flask' ? 'active' : '')}
          = link_to "Flask", wizard_path(:choose_platform, 'tab' => 'flask'), method: :put
        %li{class: @website.platform == 'Tornado' ? 'active' : ''}
          = link_to "Tornado", wizard_path(:choose_platform, 'tab' => 'tornado'), method: :put
  .panel.panel-default.codeview
    .panel-heading
    - if params[:controller] == "installations"
      = render partial: "installations/platforms/python/#{@platform_tab}"
    - else
      = render partial: 'installations/platforms/python/python'
      = render partial: 'installations/platforms/python/django'
      = render partial: 'installations/platforms/python/flask'
      = render partial: 'installations/platforms/python/tornado'