.col-md-12.pagecontainer.tab#ruby_tab
  .pagetitle.text-center
    %h3 Configuring Ruby
    = @tab
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      - if params[:controller] == "installations"
        %li{class: @platform_tab == 'ruby' ? 'active' : ''}
          = link_to "Ruby", installations_path('platform_tab' => 'ruby')
        %li{class: @platform_tab == 'rails_3' ? 'active' : ''}
          = link_to "Rails 3", installations_path('platform_tab' => 'rails_3')
        %li{class: @platform_tab == 'rails_4' ? 'active' : ''}
          = link_to "Rials 4", installations_path('platform_tab' => 'rails_4')
        %li{class: @platform_tab == 'sinatra' ? 'active' : ''}
          = link_to "Sinatra", installations_path('platform_tab' => 'sinatra')
        %li{class: @platform_tab == 'sidekiq' ? 'active' : ''}
          = link_to "Sidekiq", installations_path('platform_tab' => 'sidekiq')
      - else
        %li{class: @website.platform == 'Ruby' ? 'active' : ''}
          = link_to "Ruby", wizard_path(:choose_platform, 'tab' => 'ruby'), method: :put
        %li{class: @website.platform == 'Rails 3' ? 'active' : ''}
          = link_to "Rails 3", wizard_path(:choose_platform, 'tab' => 'rails_3'), method: :put
        %li{class: ( @website.platform == 'Rails 4' ? 'active' : '')}
          = link_to "Rails 4", wizard_path(:choose_platform, 'tab' => 'rails_4'), method: :put
        %li{class: @website.platform == 'Sinatra' ? 'active' : ''}
          = link_to "Sinatra", wizard_path(:choose_platform, 'tab' => 'sinatra'), method: :put
        %li{class: @website.platform == 'Sidekiq' ? 'active' : ''}
          = link_to "Sidekiq", wizard_path(:choose_platform, 'tab' => 'sidekiq'), method: :put
  .panel.panel-default.codeview
    .panel-heading
    - if params[:controller] == "installations"
      = render partial: "installations/platforms/ruby/#{@platform_tab}"
    - else
      = render partial: 'installations/platforms/ruby/ruby'
      = render partial: 'installations/platforms/ruby/rails_3'
      = render partial: 'installations/platforms/ruby/rails_4'
      = render partial: 'installations/platforms/ruby/sinatra'
      = render partial: 'installations/platforms/ruby/sidekiq'