.col-lg-6
  %p.gray_text{:style => 'display:inline'} Project:
  %small [#{@issue.website.title}] #{truncate(@issue.message, length: 40)}
  %hr
  - if @issue.get_interfaces(:exception).present?
    %p An error has just occurred. View full details at:
    %p #{link_to error_url(@issue.group), error_url(@issue.group)}
    %p.gray_text Error type
    %pre
      %code
        %small #{@issue.get_interfaces(:exception)._data[:values].first._data[:type]}
    %p.gray_text Error message
    %pre
      %code
        %small #{@issue.get_interfaces(:exception)._data[:values].first._data[:value]}
    %p.gray_text When
    %pre
      %code
        %small #{@issue.created_at}
    %p.gray_text Where
    %pre
      %code
        %small #{@issue.get_frames(:abs_path) || '<no information>' }
    %p.gray_text File
    %pre
      %code
        %small #{@issue.get_frames(:filename)}
    %p.gray_text Url
    %pre
      %code
        %small #{@issue.http_data(:url)}
    %p.gray_text Backtrace Summary
    - @issue.get_platform_frames.first(5).each_with_index do |frame, index|
      %pre
        %code
          %small #{frame.get_culprit_string(with_lineno: true)}
  - else
    %p No exception defined
