An error has just occurred. View full details at:
http://tralala-url.com/ceva/undeva
ID
#{@issue.event_id}
- if @issue.get_interfaces(:exception).present?
  Error type
  #{@issue.get_interfaces(:exception)._data[:values].first._data[:type]}
  Error message
  #{@issue.get_interfaces(:exception)._data[:values].first._data[:value]}
  When
  #{@issue.created_at}
  Where
  #{@issue.get_frames(:abs_path)}
  File
  #{@issue.get_frames.get_culprit_string(with_lineno: true)}
  Url
  no content
  Backtrace Summary
  #{@issue.get_frames(:pre_context) || '<no content>'}
  #{@issue.get_frames(:context_line) || '<no content>'}
  #{@issue.get_frames(:post_context) || '<no content>'}
- else
  No exception defined
