.col-lg-6
  %hr
  %p An error has just occurred:
  %p.gray_text ID
  %p #{@issue.event_id}
  %hr
  - if @issue.get_interfaces(:exception).present?
    %p.gray_text Error type
    %p #{@issue.get_interfaces(:exception)._data[:values].first._data[:type]}
    %p.gray_text Error message
    %p #{@issue.get_interfaces(:exception)._data[:values].first._data[:value]}
    %p.gray_text When
    %p #{@issue.created_at}
    %p.gray_text Where
    %p #{@issue.get_frames(:abs_path)}
    %p.gray_text File
    %p #{@issue.get_frames.get_culprit_string(with_lineno: true)}
    %p.gray_text Url
    %p no content
    %p.gray_text Backtrace Summary
    #{@issue.get_frames(:pre_context) || '<no content>' }
    %br
    #{@issue.get_frames(:context_line) || '<no content>' }
    %br
    #{@issue.get_frames(:post_context) || '<no content>' }
  - else
    %p No exception defined
