.col-lg-6
  %p.gray_text{:style => 'display:inline'} Project:
  %small [#{@group.website.title}] #{truncate(@group.message, length: 40)}
  %hr
  %p{:style => 'display:inline'} A event has just occurred at
  %pre
    %code
      %small #{@group.created_at}.
  %p.gray_text Error message
  %pre
    %code
      %small #{@group.message}
  %p.gray_text Culprit
  %pre
    %code
      %small #{@group.culprit}