.col-lg-6
  %table
    %tr
      %th Platform
      %th Message
      %th Created At
      %th Website
      %th Event id
      %th Issue Url
    - @last_hour_errors.each_with_index do |issue, index|
      %tr
        %td
          %pre
            %code #{issue.platform}
        %td
          %pre
            %code #{issue.message}
        %td
          %pre
            %code #{issue.created_at}
        %td
          %pre
            %code #{issue.website.domain}
        %td
          %pre
            %code #{issue.event_id}
        %td
          %pre
            %code #{link_to 'Follow url for more details', error_url(issue.group.id, unresolved: :true)}
