This is a email notifying you that 10 errors occurred in last hour.
ID
Message
Created At
Website
Event id
Issue Url
- @last_hour_errors.each_with_index do |issue, index|
  #{issue.id}
  #{issue.platform}
  #{issue.message}
  #{issue.created_at}
  #{issue.website.domain}
  #{issue.event_id}
  #{link_to 'Follow url for more details', error_url(issue.group.id, unresolved: :true)}
