.striped-table
  %table
    %tr.website-header
      %th.center-text Platform
      %th.center-text Message
      %th.center-text Created At
      %th.center-text Website
      %th.center-text Event id
      %th.center-text Issue Url
    - @last_hour_errors.each_with_index do |issue, index|
      %tr
        %td.center-text
          #{issue.platform}
        %td
          #{issue.message}
        %td.center-text
          #{issue.created_at}
        %td.center-text
          #{issue.website.domain}
        %td.center-text
          #{issue.event_id}
        %td
          #{link_to 'Follow url for more details', error_url(issue.group.id, unresolved: :true)}
