.col-lg-6
  %table
    %tr
      %th Title
      %th Domain
      %th Platform
      %th Created At
    %tr
      %td
        %pre
          %code #{@member.website.title}
      %td
        %pre
          %code #{@member.website.domain}
      %td
        %pre
          %code #{@member.website.platform}
      %td
        %pre
          %code #{@member.website.created_at}
    %tr
      %th#gray_th Message
      %th#gray_th Level
      %th#gray_th Times seen
      %th#gray_th Culprit
    - @grouped_issues.each do |group|
      %tr
        %td
          %pre
            %code #{group.message}
        %td
          %pre
            %code #{group.level}
        %td
          %pre
            %code #{group.times_seen}
        %td
          %pre
            %code #{group.culprit}
