- @data.each do |website|
  Title: #{website[:title]}
  Domain: #{website[:domain]}
  Platform: #{website[:platform]}
  Created At: #{website[:created_at]}
  - website[:issues].each do |group|
    Message: #{group.message}
    Level: #{group.level}
    Times seen: #{group.times_seen}
    Culprit: #{group.culprit}
    ++++++++++++++++++++++++++++++++