Daily report email provides you some information about changes on your website.
Title
Domain
Platform
Created At
#{@member.website.title}
#{@member.website.domain}
#{@member.website.platform}
#{@member.website.created_at}

Message
Level
Times seen
Culprit
- @grouped_issues.each do |group|
  #{group.message}
  #{group.level}
  #{group.times_seen}
  #{group.culprit}
