- @data.each do |website|
  %table.grid-container
    %tr.website-header
      %th.center-text.col-2 Title
      %th.center-text.col-1 Domain
      %th.center-text.col-1 Platform
      %th.center-text.col-2 Created At
    %tr
      %td.center-text
        = website[:title]
      %td.center-text
        = website[:domain]
      %td.center-text
        = website[:platform]
      %td.center-text
        = website[:created_at]
    %tr.weekly-content
      - website[:issues].each_with_index do |daily_updates, index|
        - unless daily_updates.blank?
          %th.day-title{:colspan => "4"} Errors that occurred on #{@days[index].capitalize}
          - daily_updates.first(5).each do |group|
            %tr
              %th#gray_th.col-2.center-text Message
              %th#gray_th.col-1.center-text Times seen
              %th#gray_th.col-1.center-text Culprit
              %th#gray_th.col-2.center-text More details
            %tr
              %td
                = group.message
              %td.center-text
                = group.times_seen
              %td.center-text
                = group.culprit
              %td
                = link_to error_url(group), error_url(group)