- @data.each do |website|
  Title: #{website[:title]}
  Domain: #{website[:domain]}
  Platform: #{website[:platform]}
  Created At: #{website[:created_at]}
  - website[:issues].each_with_index do |daily_updates, index|
    - unless daily_updates.blank?
      Errors that occurred on #{@days[index].capitalize}
      ''''''''''''''''''''''''''''''''''''''''''''''''''
      - daily_updates.first(5).each do |group|
        Message: #{group.message}
        Level: #{group.level}
        Times seen: #{group.times_seen}
        Culprit: #{group.culprit}
        More details: #{link_to error_url(group), error_url(group)}
        ++++++++++++++++++++++++++++++++