- @data.each do |website|
  .striped-table
    %table.grid-container
      %tr.website-header
        %th.center-text.col-2 Title
        %th.center-text.col-1 Domain
        %th.center-text.col-1 Platform
        %th.center-text.col-2 Created At
      %tr
        %td.center-text
          = website[:title]
        %td.center-text
          = website[:domain]
        %td.center-text
          = website[:platform]
        %td.center-text
          = website[:created_at]
      %tr
        %th#gray_th.col-2 Message
        %th#gray_th.center-text.col-1 Level
        %th#gray_th.center-text.col-1 Times seen
        %th#gray_th.col-2 Culprit
      - website[:issues].each do |group|
        %tr
          %td
            = group.message
          %td.center-text
            = group.level
          %td.center-text
            = group.times_seen
          %td
            = group.culprit
