%p Daily report email provides you some information about changes on your website.
%table
  %tr
    %th Title
    %th Domain
    %th Platform
    %th Created At
  %tr
    %td #{@website.title}
    %td #{@website.domain}
    %td #{@website.platform}
    %td #{@website.created_at}
  %tr
    %th#gray_th Message
    %th#gray_th Level
    %th#gray_th Times seen
    %th#gray_th Culprit
  - @grouped_issues.each do |group|
    %tr
      %td #{group.message}
      %td #{group.level}
      %td #{group.times_seen}
      %td #{group.culprit}
