.col-lg-12
  #custom-bootstrap.navbar.navbar-default{:role => "navigation"}
    %ul.nav.navbar-nav.navbar-left
      %li{class: @configuration_tab == 'all_platforms' ? 'active' : ''}
        = link_to "All Platforms", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'all_platforms')
      %li{class: @configuration_tab == 'javascript' ? 'active' : ''}
        = link_to "Javascript", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'javascript')
      %li{class: @configuration_tab == 'php' ? 'active' : ''}
        = link_to "PHP", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'php')
      %li{class: @configuration_tab == 'ruby' ? 'active' : ''}
        = link_to "Ruby", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'ruby')
      %li{class: @configuration_tab == 'other' ? 'active' : ''}
        = link_to "Other", settings_path('main_tab' => 'configuration', 'configuration_tab' => 'other')

  = render partial: "settings/platforms/#{@configuration_tab}_tab"