.col-lg-6
  .panel.panel-default.integrations
    .panel-heading Integrations
    .panel-body
      %table.table
        %thead
          %tr
            %th Provider
            %th Status
            %th
        %tbody
        - Integrations.available_drivers.each do |driver|
          - integration = @website.integrations.find_by_name(driver[:name])
          %tr
            %td
              = driver[:name]
            - if integration.nil?
              %td inactive
              %td
                = button_to auths_path(integration: { name: driver[:name], provider: driver[:type] } ), class: "btn btn-default btn-block provider-button" do
                  %span{:class => "#{driver[:name].downcase}-button"}
                  Integrate
                  =driver[:name]
            - else
              %td
                = integration.try(:disabled) ? 'inactive' : 'active'
              %td
                = button_to auths_path(integration: { name: driver[:name], provider: driver[:type] } ), class: "btn btn-default btn-block provider-button #{integration.try(:disabled) ? '' : 'disabled'}", disabled: !integration.try(:disabled) do
                  %span{:class => "#{driver[:name].downcase}-button"}
                  Integrate
                  =driver[:name]