#sidebar-wrapper
  %ul.icon-sidebar
    %li.sidebar-brand
      = image_tag "logo_transparent_light.png", class: 'brand'
    = nav_link '', errors_url, {'title' => 'Errors'}, 'exclamation-triangle'
    %li.separator
    = nav_link '', settings_url(), {'title' => 'Settings'}, 'code'
    = nav_link '', website_members_url(), {'title' => 'Members'}, 'users'
    = nav_link '', subscribers_url(), {'title' => 'Subscribers'}, 'list-alt'
    = nav_link '', 'mailto:info@epiclogger.com', {'title' => 'Help'}, 'question'
  .sidebar-footer
    %ul.icon-sidebar
      = nav_link '', websites_url, {'title' => 'Websites'}, 'list'
      = nav_link '', logout_url, { method: :delete }, 'sign-out'
      %li
        .dropdown
          %button.btn.btn-link.dropdown-toggle.btn-block{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", "data-target" => "#icon-dropdown", :type => "button"}
            = image_tag current_user.avatar_url, class: 'avatar'
%ul.dropdown-menu#icon-dropdown
  %li
    = link_to "Websites", websites_path()
  %li
    = link_to "Account", edit_user_path(current_user)
  %li.divider{:role => "separator"}
  %li
    = link_to 'Logout', logout_url, method: :delete