#sidebar-wrapper
  %ul.icon-sidebar
    %li.sidebar-brand
      = image_tag "logo_transparent_light.png", class: 'brand'
    = nav_link '', errors_url, {'title' => 'Errors'}, 'exclamation-triangle'
    %li.separator
    = nav_link '', installations_url(), {'title' => 'Installation'}, 'code'
    = nav_link '', website_members_url(), {'title' => 'Members'}, 'users'
    = nav_link '', subscribers_url(), {'title' => 'Subscribers'}, 'list-alt'
    = nav_link '', 'mailto:info@epiclogger.com', {'title' => 'Help'}, 'question'
  .sidebar-footer
    %ul.icon-sidebar
      = nav_link '', websites_url, {'title' => 'Websites'}, 'list'
      = nav_link '', logout_url, { method: :delete }, 'sign-out'
      %li
        %a{:href => ""}
          = image_tag current_user.avatar_url, class: 'avatar'