%ul.icon-list
  = nav_link  "", new_website_path(), {'title' => 'Add new website'}, 'plus'
%ul.icon-list
  = nav_link "", errors_url(), {'title' => 'Errors'}, 'exclamation-triangle'
%ul.icon-list
  = nav_link "", installations_url(), {'title' => 'Installation'}, 'code'
  = nav_link "", settings_url(), {'title' => 'Settings'}, 'cog'
  = nav_link "", members_url(), {'title' => 'Users'}, 'users'
  = nav_link "", edit_member_url(1), {'title' => 'Users'}, 'user'
%ul.icon-list
  = nav_link "", 'mailto:info@epiclogger.com', {'data-helpful'=>'epiclogger','data-helpful-modal'=>"on", :class=>'helpful-link', 'title' => 'Help'}, 'question'