%ul.icon-list
  = nav_link "", errors_url(), {}, 'exclamation-triangle'
%ul.icon-list
  = nav_link "", installations_url(), {}, 'code'
  = nav_link "", settings_url(), {}, 'cog'
  = nav_link "", members_url(), {}, 'users'
  = nav_link "", edit_member_url(1), {}, 'user'