#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %button.picked-website.collapsed.btn-link.btn-block{"aria-expanded" => "false", "data-target" => "#websites-sidebar", "data-toggle" => "collapse", :type => "button"}
        = image_tag "logo_transparent_light.png", class: 'brand'
        = current_website.title
        %span.caret
      #websites-sidebar.collapse
        %ul.nav.nav-stacked
          - current_user.websites.each do |website|
            = nav_link website.title, change_current_website_url(website), { method: :post }
          = nav_link 'Add new website', website_wizard_path(:create), { class: 'add-new' }, 'plus'
    = nav_link 'Errors', errors_url, { title: 'Errors', id: 'errornav'}, 'exclamation-triangle'
  .project-details
    %h5 PROJECT DETAILS
    %ul.sidebar-nav
      = nav_link 'Installation', installations_path
      = nav_link 'Members', website_members_path
      = nav_link 'Subscribers', subscribers_path

  .sidebar-footer
    .footer-help
      %a{:title => 'Help', :href => 'mailto:info@epiclogger.com', :target =>"_top"}
        %i.glyphicon.glyphicon-bullhorn
        %strong Need help?
        %br
        %small Write us an email, we will answer fast
    .account-details
      .dropup
        %button.btn.btn-link.dropdown-toggle.btn-block{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = image_tag current_user.avatar_url, class: 'avatar'
          My Account
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{websites_url()}"} Websites
          %li
            = link_to "Account", edit_user_path(current_user)
          %li.divider{:role => "separator"}
          %li
            = link_to 'Logout', logout_url, method: :delete